.main {
  background-image: url(./typing.jpg);
  height:450px;
  overflow:hidden; 
  width:100%;
  background-position: center !important;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .main {
    background-attachment: scroll;
  }
}

.statement {
  width:90%;
  max-width: 850px;

  h1 {
    display:block;
    text-align:center;
    font-size:calc(32px + 2vw);
    letter-spacing:-.05rem;
    line-height:calc(40px + 2vw);
    margin:auto;
    font-weight:800;
    margin-left:auto;
    margin-right:auto;
  }

  h2 {
    display:block;
    text-align:center;
    font-size:calc(16px + 2vw);
    margin:auto;
    margin-top:calc(16px + 2vw);
    line-height:calc(24px + 2vw);
  }
}