@import 'Name';

#user-md {
	border:1px solid $gray;
	padding:5px;
	width:100%;
}

.markdown-output {
	border:1px solid $gray;
	padding:5px;
	width:100%;
	overflow-y: scroll;
	max-height:492px;
}

.label {
	color:$gray;
	border: 1px solid $gray;
	padding:7px;
	font-size:13px
}